<header class="header-menu">
  <div class="header-bg">
    <img src="../assets/images/Logo.png" class="logo" alt="Tagro logo" />
    <nav class="nav-menu">
      <a href="#" class="menu-item">Home</a>
      <a href="#" class="menu-item">Our Products</a>
      <a href="#" class="menu-item">Projects</a>
      <a href="#" class="menu-item">Downloads</a>
      <a href="#" class="menu-item">About Us</a>
      <a href="#" class="menu-item">Services</a>
      <a href="#" class="menu-item">News and Events</a>
    </nav>
    <button class="search-button" aria-label="Search">
      <span class="visually-hidden">Search</span>
    </button>
  </div>
</header>